<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.healthy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/redcross_small"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity android:name=".ActivityULH">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBE7wWzmLxesRGYdhPd98iaSDuSS5LbWWU" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.netrika.ru"
                    android:pathPattern="/healthy"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityUAL"
            android:parentActivityName=".ActivityULH" />

        <activity
            android:name=".ActivityLSD"
            android:parentActivityName=".ActivityUAL" />

        <activity
            android:name=".ActivityDRT"
            android:parentActivityName=".ActivityLSD" />

        <activity
            android:name=".ActivityYesNo"
            android:theme="@style/Theme.AppCompat.Dialog" />

    </application>
</manifest>